.Item-Photo{
    width : 150px;   
   }
   .item-details{
       display: inline-block;
       border: 1px solid white;
       width: 180px;
       padding: 3px;
       margin: 3px;
       text-align: center;
   }
   .caption {
       text-align: center;
       margin-top: 5px;
   }
   img{
       width : 150px; }
       body{
        background-color:rgb(104, 155, 233);
        text-align: center;
    }
.storeItemsClass{
font-size: 50px;
color: White;
}
button{
    margin-top: 8px;